*.pyc
*.egg-info/
*.swp
deps/
include/
lib/
bin/
dist/
man/
lib64
.Python
pip-selfcheck.json
cover/
.coverage*
tmp/
docs/source/generated/
docs/build/
cache/
policies/
local/
*~
share/
out/
.DS_STORE
