-r requirements.txt

# Test & lint packages
coverage==4.5.2
mock==2.0.0
placebo==0.9.0
flake8==3.7.7
pytest==4.3.0
pytest-xdist==1.26.1
pytest-cov==2.6.1
twine==1.13.0
tox==3.7.0
nose==1.3.7
nose-timer==0.7.4
six >= 1.12.0

# Optional feature testing in c7n
psutil==5.5.1
aws_xray_sdk==2.4.1

-r tools/c7n_sphinxext/requirements.txt
-r tools/c7n_mailer/requirements.txt
-r tools/c7n_azure/requirements.txt
-r tools/c7n_gcp/requirements.txt

# Specific to testing mailer
fakeredis==1.0.2

# Tools packages in editable setup
# Local package required for Sphinx docs
-e tools/c7n_sphinxext
# Local package required for c7n_mailer tests
-e tools/c7n_mailer
# Local package required for c7n_azure tests
-e tools/c7n_azure
# Local package required for c7n_gcp tests
-e tools/c7n_gcp
# Local package required for c7n_kube tests
-e tools/c7n_kube
# Local package required for c7n_org tests
-e tools/c7n_org

# requires pandoc, fails on ci server, only used for pypi metadata
# setuptools-markdown==0.2
