-r requirements.txt
coverage>=4.2
nose==1.3.7
mock==2.0.0
Sphinx==1.6.7
placebo==0.8.1
flake8
redis
ldap3
sphinx-rtd-theme==0.2.4
nose-timer==0.7.1
twine
fakeredis
pytest>=3.2.1
pytest-xdist>=1.2.0
pytest-cov
tox

# Local package required for Sphinx docs
-e tools/c7n_sphinxext
# Local package required for c7n_mailer tests
-e tools/c7n_mailer
# Local package required for c7n_azure tests
-e tools/c7n_azure
# Local package required for c7n_gcp tests
-e tools/c7n_gcp

# requires pandoc, fails on ci server, only used for pypi metadata
# setuptools-markdown==0.2
