{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-10-07",
    "endpointPrefix":"events",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"CWE",
    "serviceFullName":"Amazon CloudWatch Events",
    "signatureVersion":"v4",
    "signingName":"events",
    "targetPrefix":"AWSEvents",
    "timestampFormat":"unixTimestamp",
    "protocol":"json"
  },
  "documentation":"<p>This is the <i>Amazon CloudWatch Events API Reference</i>. This guide provides detailed information about Amazon CloudWatch Events actions, data types, parameters, and errors. For detailed information about Amazon CloudWatch Events features and their associated API calls, go to the <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide\">Amazon CloudWatch Developer Guide</a>. </p> <p>Amazon CloudWatch is a web service that enables you to publish, monitor, and manage various metrics, as well as configure alarm actions based on data from metrics. For more information about this product go to <a href=\"http://aws.amazon.com/cloudwatch\">http://aws.amazon.com/cloudwatch</a>. </p> <p>Use the following links to get started using the <i>Amazon CloudWatch Events API Reference</i>:</p> <ul> <li> <a href=\"http://docs.aws.amazon.com/AmazonCloudWatchEvents/latest/APIReference/API_Operations.html\">Actions</a>: An alphabetical list of all Amazon CloudWatch Events actions.</li> <li> <a href=\"http://docs.aws.amazon.com/AmazonCloudWatchEvents/latest/APIReference/API_Types.html\">Data Types</a>: An alphabetical list of all Amazon CloudWatch Events data types.</li> <li> <a href=\"http://docs.aws.amazon.com/AmazonCloudWatchEvents/latest/APIReference/CommonParameters.html\">Common Parameters</a>: Parameters that all Query actions can use.</li> <li> <a href=\"http://docs.aws.amazon.com/AmazonCloudWatchEvents/latest/APIReference/CommonErrors.html\">Common Errors</a>: Client and server errors that all actions can return.</li> <li> <a href=\"http://docs.aws.amazon.com/general/latest/gr/index.html?rande.html\">Regions and Endpoints</a>: Itemized regions and endpoints for all AWS products.</li> </ul> <p>In addition to using the Amazon CloudWatch Events API, you can also use the following SDKs and third-party libraries to access Amazon CloudWatch Events programmatically.</p> <ul> <li><a href=\"http://aws.amazon.com/documentation/sdkforjava/\">AWS SDK for Java Documentation</a></li> <li><a href=\"http://aws.amazon.com/documentation/sdkfornet/\">AWS SDK for .NET Documentation</a></li> <li><a href=\"http://aws.amazon.com/documentation/sdkforphp/\">AWS SDK for PHP Documentation</a></li> <li><a href=\"http://aws.amazon.com/documentation/sdkforruby/\">AWS SDK for Ruby Documentation</a></li> </ul> <p>Developers in the AWS developer community also provide their own libraries, which you can find at the following AWS developer centers:</p> <ul> <li><a href=\"http://aws.amazon.com/java/\">AWS Java Developer Center</a></li> <li><a href=\"http://aws.amazon.com/php/\">AWS PHP Developer Center</a></li> <li><a href=\"http://aws.amazon.com/python/\">AWS Python Developer Center</a></li> <li><a href=\"http://aws.amazon.com/ruby/\">AWS Ruby Developer Center</a></li> <li><a href=\"http://aws.amazon.com/net/\">AWS Windows and .NET Developer Center</a></li> </ul>",
  "operations":{
    "DeleteRule":{
      "name":"DeleteRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteRuleRequest",
        "documentation":"Container for the parameters to the <a>DeleteRule</a> operation."
      },
      "errors":[
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Deletes a rule. You must remove all targets from a rule using <a>RemoveTargets</a> before you can delete the rule. If the rule does not exist the operation fails."
    },
    "DescribeRule":{
      "name":"DescribeRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeRuleRequest",
        "documentation":"Container for the parameters to the <a>DescribeRule</a> operation."
      },
      "output":{
        "shape":"DescribeRuleResponse",
        "documentation":"The result of the <a>DescribeRule</a> operation."
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"The rule does not exist."
        },
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Describes the details of the specified rule."
    },
    "DisableRule":{
      "name":"DisableRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DisableRuleRequest",
        "documentation":"Container for the parameters to the <a>DisableRule</a> operation."
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"The rule does not exist."
        },
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Disables a rule. If the rule is already disabled, the operation fails."
    },
    "EnableRule":{
      "name":"EnableRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"EnableRuleRequest",
        "documentation":"Container for the parameters to the <a>EnableRule</a> operation."
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"The rule does not exist."
        },
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Enables a rule. If the rule is already enabled, the operation fails."
    },
    "ListRuleNamesByTarget":{
      "name":"ListRuleNamesByTarget",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListRuleNamesByTargetRequest",
        "documentation":"Container for the parameters to the <a>ListRuleNamesByTarget</a> operation."
      },
      "output":{
        "shape":"ListRuleNamesByTargetResponse",
        "documentation":"The result of the <a>ListRuleNamesByTarget</a> operation."
      },
      "errors":[
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Lists rule names that you own with specific targets assigned."
    },
    "ListRules":{
      "name":"ListRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListRulesRequest",
        "documentation":"Container for the parameters to the <a>ListRules</a> operation."
      },
      "output":{
        "shape":"ListRulesResponse",
        "documentation":"The result of the <a>ListRules</a> operation."
      },
      "errors":[
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Lists rules details."
    },
    "ListTargetsByRule":{
      "name":"ListTargetsByRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListTargetsByRuleRequest",
        "documentation":"Container for the parameters to the <a>ListTargetsByRule</a> operation."
      },
      "output":{
        "shape":"ListTargetsByRuleResponse",
        "documentation":"The result of the <a>ListTargetsByRule</a> operation."
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"The rule does not exist."
        },
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Lists the targets assigned to a rule."
    },
    "PutEvents":{
      "name":"PutEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PutEventsRequest",
        "documentation":"Container for the parameters to the <a>PutEvents</a> operation."
      },
      "output":{
        "shape":"PutEventsResponse",
        "documentation":"The result of the <a>PutEvents</a> operation."
      },
      "errors":[
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Puts a list of events."
    },
    "PutRule":{
      "name":"PutRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PutRuleRequest",
        "documentation":"Container for the parameters to the <a>PutRule</a> operation."
      },
      "output":{
        "shape":"PutRuleResponse",
        "documentation":"The result of the <a>PutRule</a> operation."
      },
      "errors":[
        {
          "shape":"InvalidEventPatternException",
          "exception":true,
          "documentation":"The event pattern is invalid."
        },
        {
          "shape":"LimitExceededException",
          "exception":true,
          "documentation":"This exception occurs if you try to create more rules than allowed by default."
        },
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Creates or updates a rule. Rules are enabled by default, or based on value of State parameter. You can disable a rule using DisableRule."
    },
    "PutTargets":{
      "name":"PutTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"PutTargetsRequest",
        "documentation":"Container for the parameters to the <a>PutTargets</a> operation."
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"The rule does not exist."
        },
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Adds targets to a rule. Updates the target if it already exists."
    },
    "RemoveTargets":{
      "name":"RemoveTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RemoveTargetsRequest",
        "documentation":"Container for the parameters to the <a>RemoveTargets</a> operation."
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"The rule does not exist."
        },
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Removes a target from a rule."
    },
    "TestEventPattern":{
      "name":"TestEventPattern",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"TestEventPatternRequest",
        "documentation":"Container for the parameters to the <a>TestEventPattern</a> operation."
      },
      "output":{
        "shape":"TestEventPatternResponse",
        "documentation":"The result of the <a>TestEventPattern</a> operation."
      },
      "errors":[
        {
          "shape":"InvalidEventPatternException",
          "exception":true,
          "documentation":"The event pattern is invalid."
        },
        {
          "shape":"InternalException",
          "exception":true,
          "fault":true,
          "documentation":"This exception occurs due to unexpected causes."
        }
      ],
      "documentation":"Tests whether an event pattern matches the provided event."
    }
  },
  "shapes":{
    "Boolean":{"type":"boolean"},
    "DeleteRuleRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"RuleName",
          "documentation":"The name of the rule to be deleted."
        }
      },
      "documentation":"Container for the parameters to the <a>DeleteRule</a> operation."
    },
    "DescribeRuleRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"RuleName",
          "documentation":"The name of the rule you want to list details about."
        }
      },
      "documentation":"Container for the parameters to the <a>DescribeRule</a> operation."
    },
    "DescribeRuleResponse":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"RuleName",
          "documentation":"The name of the rule."
        },
        "Arn":{
          "shape":"RuleArn",
          "documentation":"The Amazon Resource Name (ARN) of the rule."
        },
        "EventPattern":{
          "shape":"EventPattern",
          "documentation":"The event pattern."
        },
        "ScheduleExpression":{
          "shape":"ScheduleExpression",
          "documentation":"The scheduling expression. For example, \"cron(0 0 20 * * * ? *)\", \"rate(5 minutes)\"."
        },
        "State":{
          "shape":"RuleState",
          "documentation":"Specifies whether the rule is enabled or disabled."
        },
        "Description":{
          "shape":"RuleDescription",
          "documentation":"The rule's description."
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"The Amazon Resource Name (ARN) associated with the rule."
        }
      },
      "documentation":"The result of the <a>DescribeRule</a> operation."
    },
    "DisableRuleRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"RuleName",
          "documentation":"The name of the rule you want to disable."
        }
      },
      "documentation":"Container for the parameters to the <a>DisableRule</a> operation."
    },
    "EnableRuleRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"RuleName",
          "documentation":"The name of the rule that you want to enable."
        }
      },
      "documentation":"Container for the parameters to the <a>EnableRule</a> operation."
    },
    "ErrorCode":{"type":"string"},
    "ErrorMessage":{"type":"string"},
    "EventId":{"type":"string"},
    "EventPattern":{
      "type":"string",
      "max":2048
    },
    "EventResource":{"type":"string"},
    "EventResourceList":{
      "type":"list",
      "member":{"shape":"EventResource"}
    },
    "EventTime":{"type":"timestamp"},
    "Integer":{"type":"integer"},
    "InternalException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "fault":true,
      "documentation":"This exception occurs due to unexpected causes."
    },
    "InvalidEventPatternException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"The event pattern is invalid."
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"This exception occurs if you try to create more rules than allowed by default."
    },
    "LimitMax100":{
      "type":"integer",
      "min":1,
      "max":100
    },
    "ListRuleNamesByTargetRequest":{
      "type":"structure",
      "required":["TargetArn"],
      "members":{
        "TargetArn":{
          "shape":"TargetArn",
          "documentation":"The Amazon Resource Name (ARN) assigned to the rule."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"Indicates that there are additional results to retrieve."
        },
        "Limit":{
          "shape":"LimitMax100",
          "documentation":"The maximum number of results to return."
        }
      },
      "documentation":"Container for the parameters to the <a>ListRuleNamesByTarget</a> operation."
    },
    "ListRuleNamesByTargetResponse":{
      "type":"structure",
      "members":{
        "RuleNames":{
          "shape":"RuleNameList",
          "documentation":"List of rules matching the specified criteria."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"Indicates that there are additional results to retrieve."
        }
      },
      "documentation":"The result of the <a>ListRuleNamesByTarget</a> operation."
    },
    "ListRulesRequest":{
      "type":"structure",
      "members":{
        "NamePrefix":{
          "shape":"RuleName",
          "documentation":"The prefix matching the rule name."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"Indicates that there are additional results to retrieve."
        },
        "Limit":{
          "shape":"LimitMax100",
          "documentation":"The maximum number of results to return."
        }
      },
      "documentation":"Container for the parameters to the <a>ListRules</a> operation."
    },
    "ListRulesResponse":{
      "type":"structure",
      "members":{
        "Rules":{
          "shape":"RuleResponseList",
          "documentation":"List of rules matching the specified criteria."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"Indicates that there are additional results to retrieve."
        }
      },
      "documentation":"The result of the <a>ListRules</a> operation."
    },
    "ListTargetsByRuleRequest":{
      "type":"structure",
      "required":["Rule"],
      "members":{
        "Rule":{
          "shape":"RuleName",
          "documentation":"The name of the rule whose targets you want to list."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"Indicates that there are additional results to retrieve."
        },
        "Limit":{
          "shape":"LimitMax100",
          "documentation":"The maximum number of results to return."
        }
      },
      "documentation":"Container for the parameters to the <a>ListTargetsByRule</a> operation."
    },
    "ListTargetsByRuleResponse":{
      "type":"structure",
      "members":{
        "Targets":{
          "shape":"TargetList",
          "documentation":"Lists the targets assigned to the rule."
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"Indicates that there are additional results to retrieve."
        }
      },
      "documentation":"The result of the <a>ListTargetsByRule</a> operation."
    },
    "NextToken":{
      "type":"string",
      "min":1,
      "max":2048
    },
    "PutEventsRequest":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "Entries":{
          "shape":"PutEventsRequestEntryList",
          "documentation":"Verifies that an entry matches the event pattern."
        }
      },
      "documentation":"Container for the parameters to the <a>PutEvents</a> operation."
    },
    "PutEventsRequestEntry":{
      "type":"structure",
      "members":{
        "Time":{
          "shape":"EventTime",
          "documentation":"Timestamp of event, per RFC3339. If no timestamp is provided, the timestamp of PutEvent call will be used."
        },
        "Source":{
          "shape":"String",
          "documentation":"The source of the event. For AWS-sourced events, these are are of the form aws.ec2; the string aws. followed by one of the values from AWS Service Namespaces. Customer-sourced events are reverse-domain paths, like java package names: com.example.app.module."
        },
        "Resources":{
          "shape":"EventResourceList",
          "documentation":"AWS resources, identified by Amazon Resource Name (ARN), which the event primarily concerns. Any number, including zero, may be present."
        },
        "DetailType":{
          "shape":"String",
          "documentation":"Free-form string used just like HTTP’s Content-Type; receiving software will use this to decide what fields to expect in the Event detail."
        },
        "Detail":{
          "shape":"String",
          "documentation":"In the JSON sense, an object containing service-specific fields, which may also contain nested sub-objects. No constraints are imposed on its contents."
        }
      },
      "documentation":"The source of the event. For AWS-sourced events, these are are of the form aws.ec2; the string aws. followed by one of the values from AWS Service Namespaces. Customer-sourced events are reverse-domain paths, like java package names: com.example.app.module."
    },
    "PutEventsRequestEntryList":{
      "type":"list",
      "member":{"shape":"PutEventsRequestEntry"},
      "min":1,
      "max":10
    },
    "PutEventsResponse":{
      "type":"structure",
      "members":{
        "FailedEntryCount":{
          "shape":"Integer",
          "documentation":"The number of failed entries."
        },
        "Entries":{
          "shape":"PutEventsResultEntryList",
          "documentation":"An array of successfully and unsuccessfully ingested events results."
        }
      },
      "documentation":"The result of the <a>PutEvents</a> operation."
    },
    "PutEventsResultEntry":{
      "type":"structure",
      "members":{
        "EventId":{
          "shape":"EventId",
          "documentation":"The ID of the event submitted to Amazon CloudWatch Events."
        },
        "ErrorCode":{
          "shape":"ErrorCode",
          "documentation":"The error code."
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"The error message."
        }
      },
      "documentation":"A PutEventsResult contains a list of PutEventsResultEntry."
    },
    "PutEventsResultEntryList":{
      "type":"list",
      "member":{"shape":"PutEventsResultEntry"}
    },
    "PutRuleRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"RuleName",
          "documentation":"The name of the rule that you are creating or updating."
        },
        "ScheduleExpression":{
          "shape":"ScheduleExpression",
          "documentation":"The scheduling expression. For example, \"cron(0 0 20 * * * ? *)\", \"rate(5minutes)\"."
        },
        "EventPattern":{
          "shape":"EventPattern",
          "documentation":"The event pattern."
        },
        "State":{
          "shape":"RuleState",
          "documentation":"Indicates whether the rule is enabled or disabled."
        },
        "Description":{
          "shape":"RuleDescription",
          "documentation":"A description of the rule."
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"The Amazon Resource Name (ARN) of the created or updated rule."
        }
      },
      "documentation":"Container for the parameters to the <a>PutRule</a> operation."
    },
    "PutRuleResponse":{
      "type":"structure",
      "members":{
        "RuleArn":{
          "shape":"RuleArn",
          "documentation":"The Amazon Resource Name (ARN) that identifies the rule."
        }
      },
      "documentation":"The result of the <a>PutRule</a> operation."
    },
    "PutTargetsRequest":{
      "type":"structure",
      "required":[
        "Rule",
        "Targets"
      ],
      "members":{
        "Rule":{
          "shape":"RuleName",
          "documentation":"The name of the rule you want to add."
        },
        "Targets":{
          "shape":"TargetList",
          "documentation":"List of targets assigned ot the rule."
        }
      },
      "documentation":"Container for the parameters to the <a>PutTargets</a> operation."
    },
    "RemoveTargetsRequest":{
      "type":"structure",
      "required":[
        "Rule",
        "Ids"
      ],
      "members":{
        "Rule":{
          "shape":"RuleName",
          "documentation":"The name of the rule you want to remove."
        },
        "Ids":{
          "shape":"TargetIdList",
          "documentation":"The list of target IDs to remove from the rule."
        }
      },
      "documentation":"Container for the parameters to the <a>RemoveTargets</a> operation."
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "documentation":"The rule does not exist."
    },
    "RoleArn":{
      "type":"string",
      "min":1,
      "max":512
    },
    "Rule":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"RuleName",
          "documentation":"The name of the rule."
        },
        "Arn":{
          "shape":"RuleArn",
          "documentation":"The Amazon Resource Name (ARN) associated with the rule."
        },
        "EventPattern":{
          "shape":"EventPattern",
          "documentation":"The event pattern of the rule."
        },
        "State":{
          "shape":"RuleState",
          "documentation":"The rule's state."
        },
        "Description":{
          "shape":"RuleDescription",
          "documentation":"A description of the rule."
        },
        "ScheduleExpression":{
          "shape":"ScheduleExpression",
          "documentation":"The scheduling expression. For example, \"cron(0 0 20 * * * ? *)\", \"rate(5minutes)\"."
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"The Amazon Resource Name (ARN) associated with the role and used for target invocation."
        }
      },
      "documentation":"Rules consists of an event pattern, schedule expression, and a list of targets. The targets are triggered when an event that matches their event pattern is ingested."
    },
    "RuleArn":{
      "type":"string",
      "min":1,
      "max":512
    },
    "RuleDescription":{
      "type":"string",
      "max":512
    },
    "RuleName":{
      "type":"string",
      "min":1,
      "max":256
    },
    "RuleNameList":{
      "type":"list",
      "member":{"shape":"RuleName"}
    },
    "RuleResponseList":{
      "type":"list",
      "member":{"shape":"Rule"}
    },
    "RuleState":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "ScheduleExpression":{
      "type":"string",
      "max":256
    },
    "String":{"type":"string"},
    "Target":{
      "type":"structure",
      "required":[
        "Id",
        "Arn"
      ],
      "members":{
        "Id":{
          "shape":"TargetId",
          "documentation":"The unique target assignment ID."
        },
        "Arn":{
          "shape":"TargetArn",
          "documentation":"The Amazon Resource Name (ARN) associated with the target."
        },
        "Input":{
          "shape":"TargetInput",
          "documentation":"String passed to the target."
        },
        "InputPath":{
          "shape":"TargetInputPath",
          "documentation":"The value of the JSON path that is passed to the target."
        }
      },
      "documentation":"Targets are the endpoints that can be invoked when a rule is triggered. For example, AWS Lambda functions, Amazon Kinesis streams, and built-in targets."
    },
    "TargetArn":{
      "type":"string",
      "min":1,
      "max":512
    },
    "TargetId":{
      "type":"string",
      "min":1,
      "max":256
    },
    "TargetIdList":{
      "type":"list",
      "member":{"shape":"TargetId"},
      "min":1,
      "max":100
    },
    "TargetInput":{
      "type":"string",
      "max":8192
    },
    "TargetInputPath":{
      "type":"string",
      "max":256
    },
    "TargetList":{
      "type":"list",
      "member":{"shape":"Target"}
    },
    "TestEventPatternRequest":{
      "type":"structure",
      "required":[
        "EventPattern",
        "Event"
      ],
      "members":{
        "EventPattern":{
          "shape":"EventPattern",
          "documentation":"The event pattern you want to test."
        },
        "Event":{
          "shape":"String",
          "documentation":"JSON string to test the event pattern."
        }
      },
      "documentation":"Container for the parameters to the <a>TestEventPattern</a> operation."
    },
    "TestEventPatternResponse":{
      "type":"structure",
      "members":{
        "Result":{
          "shape":"Boolean",
          "documentation":"Indicates whether the event matches the event pattern."
        }
      },
      "documentation":"The result of the <a>TestEventPattern</a> operation."
    }
  },
  "examples":{
  }
}
