{
    // Sample launch.json for debugging CLI commands in VS Code.
    // Copy to launch.json as needed and adjust arguments array

    "version": "0.2.0",
    "configurations": [
        {
            "name": "Validate",
            "type": "python",
            "request": "launch",
            "pythonPath": "${config:python.pythonPath}",
            "program": "${workspaceFolder}/c7n/cli.py",
            "cwd": "${workspaceFolder}/c7n",
            "console": "integratedTerminal",
            "env": { "PYTHONPATH": "${workspaceFolder}"},
            "envFile": "${workspaceFolder}/.env",
            "debugOptions": [],
            "internalConsoleOptions": "neverOpen",
            "args": [
                "schema",
                "aws.ec2"
            ],
            "exceptionHandling":{
                "ignore": ["copy.Error"]
            }
        },
        {
            "name": "Run",
            "type": "python",
            "request": "launch",
            "pythonPath": "${config:python.pythonPath}",
            "program": "${workspaceFolder}/c7n/cli.py",
            "cwd": "${workspaceFolder}",
            "console": "integratedTerminal",
            "env": { "PYTHONPATH": "${workspaceFolder}"},
            "envFile": "${workspaceFolder}/.env",
            "debugOptions": [],
            "internalConsoleOptions": "neverOpen",
            "args": [
                "run",
                "-s",
                "output",
                "your_policy.yml"
            ],
            "exceptionHandling":{
                "ignore": ["copy.Error"]
            }
        }
    ]
}