boto3>=1.9.54
botocore>=1.12.54
docutils>=0.12
Jinja2>=2.8
jmespath>=0.9.0
vcversioner==2.16.0.0
jsonschema>=2.5.1
c7n
Markup
MarkupSafe==1.0
python-dateutil>=2.6
ldap3
ruamel.yaml==0.15.42
six==1.11.0
redis
datadog
slackclient
sendgrid
