attrs==19.3.0
boto3==1.14.27
botocore==1.17.27
certifi==2020.6.20
chardet==3.0.4
datadog==0.34.1
decorator==4.4.2
docutils==0.15.2
idna==2.10
importlib-metadata==1.7.0
jinja2==2.11.2
jmespath==0.10.0
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
ldap3==2.7
markupsafe==1.1.1
pyasn1==0.4.8
pyrsistent==0.16.0
python-dateutil==2.8.1
python-http-client==3.2.7
pyyaml==5.3.1
redis==3.5.3
requests==2.24.0
s3transfer==0.3.3
sendgrid==6.4.4
six==1.15.0
starkbank-ecdsa==1.0.0
urllib3==1.25.10
zipp==3.1.0
