div.document {
  float: right;
}

div.body {
  padding-left: 2em;
}

div.document dd {
  margin-right: 1.2em;
}

div.document ul {
  margin: 0 1.5em 0.5em 1.5em;
  list-style-type: square;
}


/* Sidebar */

div.sidebar {
  float: left;
}

div.sidebar li.toctree-l1 a {
  padding-right: 3px;
}

div.sidebar li.toctree-l2 a {
  margin-right: 1em;
}

div.sidebar li.toctree-l3 a {
  margin-right: 2em;
}

div.sidebar li.toctree-l1.current a {
  border-left: 5px solid {{ theme_headerlinkcolor }};
}

div.sidebar li.toctree-l1.current li.toctree-l2 a {
  border-left: none;
}
